body {
  background-color: #7092BE;
  color: black;
  font-family: Verdana, serif;
}

.main-col {
  border: black 2px solid;
  flex: 50%;
  padding: 5px 5px 5px 5px;
}

.posts  {
  border: black 2px solid;
  padding: 5px 5px 5px 5px;
}

#header img {
  height: 100%;
}